ul {
    display: flex;
    flex-direction: column;
    width: 100%;

}
ul li {
    display: flex;
    flex-direction: column;
    height: 87px;
    background-color: #F8F9FA;
    margin-top: 24px;
    border-radius: 4px;
}
li p {
    margin-left: 14px;
    font-weight: 400;
    font-size: 16px;
    color: #343A40;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10px;
}
.containerCardContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.containerInfoContentEntrada {
    display: flex;
    justify-content: space-between;
    border-left: 4px solid #03B898;
}
.containerInfoContentSaida{
    display: flex;
    justify-content: space-between;
    border-left: 4px solid #E9ECEF
}
.containerCardContent h3 {
    margin-top: 12px;
    margin-left: 14px;
    font-weight: 700;
    font-size: 20px;
    color: #212529;
    font-family: 'Nunito', sans-serif;
}
.containerTrash  {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 18px;
}
.containerTrash span {
    font-weight: 400;
    font-size: 16px;
    color: #212529;
    font-family: 'Nunito', sans-serif;
}
.containerTrash button {
    width: 26px;
    height: 26px;
    margin-right: 13px;
    background-color: #E9ECEF;
    border: none;
}   